body {
    background-color: rgb(28, 42, 32);
    font-family: 'Palatino Linotype', serif;
    color: rgb(234, 226, 147);
}

#app {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dice {
    display: inline-grid;
    border: thick solid #333;
    width: 1.6em;
    padding: 0.8em;
    margin: 4px;
    border-radius: 5px;
}

.locked {
    background-color: darkolivegreen;
}

.loader > div {
    color: darkolivegreen;
    background-color: darkolivegreen;
    height: 10px;
    width: 11px
}

button {
    font-family: 'Palatino Linotype', serif;
    text-overflow: ellipsis;
    background-color: rgb(234, 226, 147);
    margin: 0.5em;
    width: 7.2em;
    height: 2.5em;
    border-radius: 5px;
    border: #067575;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
}

.modal {
    background: darkolivegreen;
    color: black;
    padding: 20px;
    width: 200px;
    position: absolute;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s ease-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.pr {
    margin: 1em;
}

#left, #right {
    display: inline-grid;
    border: groove;
    min-height: 27em;
    width: 10em;
}

p {
}

.inactive {
    background-color: rgb(187, 110, 15);
    
}

.bk {
    transition: all 0.1s ease-out;
}

.blur {
    filter: blur(2px);
    opacity: 0.4;
}

@media (min-width: 50em) {
    body {
        background-color: #738a9e;
        display: flex;
        justify-content: center;
        color: black;
        font-weight: bold;
    }

    #app {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .child {
        justify-content: flex-start;
    }

    button:hover {
        background-color: #da7d09;
        color: bisque;
        cursor: pointer;
    }
    #left, #right {
        border: groove;
        min-height: 27em;
        width: 11em;
        justify-content: left;
    }

    .dice {
        width: 3em;
        height: 3em;
        border: thin solid #333;
    }

    .inactive {
        width: inherit;
        background-color: #7bbfb8
    }

    .locked {
        background-color: #da7d09; 
        font-size: larger;
    }
}